# EdgeX Device Modbus Service
name: edgex
services:
  app-modbus-go:
    command:
      - /app-modbus-go
      - -cp=keeper.http://edgex-core-keeper:59890
      - --registry
      - -cd=/res
      - -cf=configuration.yaml
      - -o
    container_name: app-modbus-go
    environment:
      EDGEX_SECURITY_SECRET_STORE: "false"
      SERVICE_HOST: app-modbus-go
    hostname: edgex-app-modbus-go
    image:  linux/amd64/app-modbus-go:0.0.0-dev
    networks:
      edgex-network: null
    read_only: true
    restart: always
    security_opt:
      - no-new-privileges:true
    user: 2002:2001
    volumes:
      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true
        bind:
          create_host_path: true
networks:
  edgex-network:
    name: edgex_edgex-network
    driver: bridge
